asgiref==3.8.1
backports.zoneinfo==0.2.1
Django==4.0.1
djangorestframework==3.13.1
docutils==0.20.1
flake8==7.1.0
flake8-docstrings==1.7.0
mccabe==0.7.0
psycopg2-binary==2.9.9
pycodestyle==2.12.0
pydocstyle==6.3.0
pyflakes==3.2.0
pytz==2024.1
restructuredtext-lint==1.4.0
snowballstemmer==2.2.0
sqlparse==0.5.1
typing_extensions==4.12.2
python-dotenv==1.0.1
djangorestframework-simplejwt==5.3.1
coreapi==2.3.3
drf-yasg==1.21.7